<h1>2.Calculadora</h1>
<div class="row"> 
    <div class="col-md-3">
        <label class="form-label">Num. 1</label>
        <input [(ngModel)]="num1" type="number" class="form-control">
    </div>
    <div class="col-md-3">
        <label class="form-label">Num. 2</label>
        <input [(ngModel)]="num2" type="number" class="form-control">
    </div>
    <div class="col-md-2">
        <label for="" class="form-label">Operação</label>
        <select [(ngModel)]="operacao" class="form-select">
            <option value="+">Somar</option>
            <option value="-">Subtrair</option>
            <option value="/">Dividir</option>
            <option value="*">Multiplicar</option>
        </select>
    </div>
    <div class="col-md-1" style="margin-top: 30px;">
        <button class="btn btn-primary" (click)="calcular()">Calcular</button>
    </div>
    <div class="col-md-3"><label class="form-label">Resultado</label>
        <input [(ngModel)]="resultado" type="number" class="form-control"></div>
</div>
<br>