<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a href="javascript:void(0);" routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
    </li>
    <li class="nav-item"><a href="javascript:void(0);" routerLink="/calculadora" routerLinkActive="active" class="nav-link">Calculadora</a>
    </li>
    <li class="nav-item"><a href="javascript:void(0);" routerLink="/tela-pai" routerLinkActive="active" class="nav-link">Tela Pai</a>
    </li>
    <li class="nav-item"><a href="javascript:void(0);" routerLink="/formulario" routerLinkActive="active" class="nav-link">Formulário</a>
    </li>
    <li class="nav-item"><a href="javascript:void(0);" routerLink="/notas" routerLinkActive="active" class="nav-link">Notas</a>
    </li>
    <li class="nav-item"><a href="javascript:void(0);" routerLink="/seguro" routerLinkActive="active" class="nav-link">Seguro</a>
    </li>
  </ul>
</header>